<!DOCTYPE html>
<html lang = "ko" xmlns:th = "http://www.thymeleaf.org">

<th:block th:replace = "~{/layout/basic::setContent(~{this::content})}">

    <th:block th:fragment = "content">

        <h1 class = "mt-4">GuestBook Modify Page</h1>

        <form action = "/guestbook/modify" method = "post">
            <input name = "page" th:value = "${requestDTO.page}" type = "hidden">
            <input name = "type" th:value = "${requestDTO.type}" type = "hidden">
            <input name = "keyword" th:value = " ${requestDTO.keyword}" type = "hidden">

            <div class = "mt-2">
                <label>Gno</label>
                <input class = "form-control" name = "gno" readonly th:value = "${dto.gno}" type = "text">
            </div>

            <div class = "mb-2">
                <label>Title</label>
                <input class = "form-control" name = "title" th:value = "${dto.title}" type = "text">
            </div>

            <div class = "mb-2">
                <label>Content</label>
                <textarea class = "form-control" name = "content" rows = "5" th:value = "${dto.content}">[[${dto.content}]]</textarea>
            </div>

            <div class = "mb-2">
                <label>Writer</label>
                <input class = "form-control" name = "writer" readonly th:value = "${dto.writer}" type = "text">
            </div>

            <div class = "mb-2">
                <label>RegDate</label>
                <input class = "form-control" name = "regDate" readonly th:value = "${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:ss')}" type = "text">
            </div>

            <div class = "mb-2">
                <label>ModDate</label>
                <input class = "form-control" name = "modDate" readonly th:value = "${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:ss')}" type = "text">
            </div>
        </form>

        <button class = "btn btn-primary modifyBtn" type = "button">Modify</button>
        <button class = "btn btn-info listBtn" type = "button">List</button>
        <button class = "btn btn-danger removeBtn" type = "button">Remove</button>

    </th:block>

</th:block>

<script th:inline = "javascript">
    var actionForm = $("form");
    $(".removeBtn").click(function () {
        actionForm
            .attr("action", "/guestbook/remove")
            .attr("method", "post");

        actionForm.submit();
    });

    $(".modifyBtn").click(function () {
        if (!confirm("수정하시겠습니까?")) {
            return;
        }
        actionForm
            .attr("action", "/guestbook/modify")
            .attr("method", "post")
            .submit();
    });

    $('.listBtn').click(function () {
        // let pageInfo = $("input[name='page']");
        let page = $("input[name='page]");
        let type = $("input[name='type]");
        let keyword = $("input[name='keyword]");

        actionForm.empty();

        actionForm.append(page);
        actionForm.append(type);
        actionForm.append(keyword);

        actionForm
            .attr("action", "/guestbook/list")
            .attr("method", "get");

        // console.log(actionForm.html());
        actionForm.submit();
    });
</script>

<head>
    <meta charset = "UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>